<h1>Graphics</h1>
<div class="container">
  
  <div class="colors" id="colorcodes">
    <div class="row" *ngFor="let colors of multiColors">
        <div class="box" *ngFor="let color of colors" id="{{color.id}}" style.background-color="{{color.code}}">
          <div class="inner"></div>
        </div>
    </div>
  </div>

  <div class="grid" id="shapesData">
    <div class="row" *ngFor="let shapes of multiShapes">
        <div class="box" *ngFor="let shape of shapes" id="{{shape.shape_id}}" style.background-color="{{shape.color_code}}">
            <div class="tooltiptext" *ngIf="shape.user_name != ' '">
              {{shape.user_name}} at {{shape.last_updated_at}}
            </div>
        </div>
    </div>
  </div>


  <div class="form">
    <div class="field">
      <input type="hidden" name="username" id="userid" value="7" />
      <input type="hidden" name="colorname" id="colorcode" value="" />
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#colorcodes .row .box').click(function() {
        color_id = $(this).attr('id');
        alert(color_id);
        $('#colorcode').val(color_id);
      });
    });
  </script>
  
</div>